.btn-create {
    background: linear-gradient(135deg, #029805 0%, #23e311 100%);
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.btn-create:hover {
    background: linear-gradient(135deg, #047c06 0%, #23e311 100%);
}

