.div-titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.div-titre h1 {
    margin: 0;
    font-size: 22px;
    color: #222;
    
}

.btn-retour {
    background: linear-gradient(135deg, #f72c11 0%, #fe9f40 100%);
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.btn-retour:hover {
    background: linear-gradient(135deg, #ff5c46 0%, #f9a149 100%);
}

