table {
    width: fit-content;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 10px;
}

td {
    padding: 5px 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #222;
    background-color: #fff;
    vertical-align: middle;
    width: fit-content;
}

/* Alternance de lignes pour la lisibilité */
tr:nth-child(even) td {
    background-color: #e8f0fc;
}

/* Effet au survol */
tr:hover td {
    background-color: #dfecfe;
}

/* Améliore la visibilité des liens (éditer/supprimer) */
td a {
    text-decoration: none;
    font-size: 16px;
    padding: 4px 6px;
    border-radius: 6px;
    transition: background-color 0.s ease;
}

td a:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

td button {
    background: none;
    border: none;
    padding: 4px 6px;
    font-size: 13px;
    border-radius: 6px;
    cursor: pointer;
}

td button:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

/* Optionnel : colonnes actions centrées */
td:last-child,
td:nth-last-child(2) {
    text-align: center;
    width: 50px;
}

/*styling des cases*/

.status {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.status-green {
    background-color: #4CAF50;
}

.status-red {
    background-color: #e74c3c;
}

/* Bouton créer */
.btn-create {
    background: linear-gradient(135deg, #23e311 0%, #08ab0b 100%);
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.btn-create:hover {
    background: linear-gradient(135deg, #23e311 0%, #047406 100%);
}
/* Bouton créer */
.btn-export {
    background: linear-gradient(135deg, #f7c911 0%, #fcaf20 100%);
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.btn-export:hover {
    background: linear-gradient(135deg, #fcaf20 0%, #f7c911 100%);
}

/* Première ligne d'en-têtes */
thead tr:first-child th {
    background: linear-gradient(90deg, #90b3b1, #779492);
    color: #fff;
    padding: 7px 7px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.5px;
    border-radius: 4px;
    border-bottom: 2px solid #90b3b1;
    position: sticky;
    top: 0;
    z-index: 2;
}

/* Deuxième ligne d'en-têtes */
thead tr:nth-child(2) th {
    background: linear-gradient(90deg, #90b3b1, #779492);
    color: #fff;
    padding: 7px 7px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.5px;
    border-radius: 4px;
    border-bottom: 2px solid #90b3b1;
    position: sticky;
    top: 45px;
    z-index: 2;
}

/*celine*/
.input-small {
    width: 50px;
}
.input-medium {
    width: 80px;
}